# Node dependencies
node_modules/
client/node_modules/
server/node_modules/

# Next.js build output
client/.next/
client/out/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
server/logs/
*.log

# Build output
dist/
build/

# Mac system files
.DS_Store

# Ignore local database or temp files if any
*.sqlite
*.db
tmp/
.cache/